<?xml version="1.0"?>
<launch>
  
  <arg name="use_nuc" default="" />
  <arg name="vicon_object_name" default="cluster" />
  <arg name="config_yaml" default="$(find mavros)/launch/px4_config.yaml"/>
  
  <!-- This node will launch MAVROS -->
  <include file="$(find uas_offboard_planner)/launch/px4.launch">
    <arg name="use_nuc" value="$(arg use_nuc)" />
    <arg name="config_yaml" value="$(arg config_yaml)"/>
  </include>

  <!-- This node will launch the node that bridges vicon and MAVROS -->
  <include file="$(find uas_offboard_planner)/launch/vrpn.launch">
    <arg name="vicon_object_name" value="$(arg vicon_object_name)" />
  </include>

</launch>
